{% ckan_extends %}

{% block resource_additional_information_inner %}
    {# This is copied from core ckan, but with the changes marked #}
    <div class="additional-information-table-wraper module-content">
        <div class="additional-information-table-title">{{ _('Additional Information') }}</div>
        <div class="additional-information-table" data-module="table-toggle-more">
            {#            <thead>#}
            {#            <tr>#}
            {#                <th scope="col">{{ _('Field') }}</th>#}
            {#                <th scope="col">{{ _('Value') }}</th>#}
            {#            </tr>#}
            {#            </thead>#}

            <div class="additional-information-table-row">
                <div class="additional-information-table-item additional-information-table-item__grey" scope="row">{{ _('Last updated') }}</div>
                <div class="additional-information-table-item">{{ h.render_datetime(res.last_modified) or h.render_datetime(res.revision_timestamp) or h.render_datetime(res.created) or _('unknown') }}</div>
            </div>
            <div class="additional-information-table-row">
                <div class="additional-information-table-item additional-information-table-item__grey" scope="row">{{ _('Created') }}</div>
                <div class="additional-information-table-item">{{ h.render_datetime(res.created) or _('unknown') }}</div>
            </div>
            <div class="additional-information-table-row">
                <div class="additional-information-table-item additional-information-table-item__grey" scope="row">{{ _('Format') }}</div>
                <div class="additional-information-table-item">{{ res.mimetype_inner or res.mimetype or res.format or _('unknown') }}</div>
            </div>
            <div class="additional-information-table-row">
                <div class="additional-information-table-item additional-information-table-item__grey" scope="row">{{ _('License') }}</div>
                <div class="additional-information-table-item">{% snippet "snippets/license.html", pkg_dict=pkg, text_only=True %}</div>
            </div>
            {# We replaced h.format_resource_items with h.archiver_format_resource_items so that we can hide the archiver key #}
            {% for key, value in h.archiver_format_resource_items(res.items()) %}
                <div class="additional-information-table-row toggle-more">
                    <div class="additional-information-table-item additional-information-table-item__grey" scope="row">{{ key }}</div>
                    <div class="additional-information-table-item">{{ value }}</div>
                </div>
            {% endfor %}
            {% if res.items()|length > 0 %}
                <div class="show-more-fields-link ">
                    <a class="show-more" href="">Показати більше полів</a>
                    <a class="show-less" href="">Показати меньше полів</a>
                </div>
            {% endif %}
        </div>
    </div>

    {#  {{ h.archiver_is_resource_broken_html(c.resource) }}<br>#}
    {#  {{ h.archiver_is_resource_cached_html(c.resource) }}#}

{% endblock %}
